body{
    background-color: beige;
}

h2{
    color: rgb(255, 255, 255);
    background-color: black;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 100px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.centralizado{
    text-align:center;
}
